* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.menu {
  width: 100%;
  height: 60px;
}

.menu-left {
  float: left;
  margin-top: 1.3rem;
  margin-left: 3rem;
}

.guide-button {
  padding: 0px 5px;
  color: white;
  background-color: #20ad96;
  border: none;
  border-radius: 5px;
  float: right;
}

.menu-right {
  display: flex;
  float: right;
  margin-right: 3rem;
  margin-top: 1.3rem;
}
.menu-right a {
  padding: 0.5rem;
}

/* menu end */

/* liveLife start */
.liveLife {
  width: 100%;
  height: 500px;
  top: 60px;
  background: #faf8f6;
}

.liveImg1 {
  padding: 20px;
}
.live {
  display: flex;
}
.livePeragrap {
  width: 80%;
  height: 396px;
  margin-left: 3rem;
}
.livePara {
  width: 80%;
  margin: 1rem 0rem;
}
.firstPara {
  color: #4a556c;
  opacity: 0.5;
}
.livePeragrap h1 {
  font-size: 60px;
  color: #333461;
  width: 80%;
  margin-bottom: 1rem;
}
.peraButton {
  background: #20ad96;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
#secondDivButton {
  margin-top: 1rem;
  font-size: 16px;
}
.liveGirl img {
  width: 100%;
}
/* liveLife end */

@media screen and (max-width: 900px) {
  .menu {
    width: 100%;
    height: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  /* for menu end  900*/
  .liveLife {
    width: 100%;
    height: 430px;
    background: #faf8f6;
  }

  .liveImg1 {
    display: none;
  }
  .livePeragrap {
    display: block;
  }

  .liveImg2 {
    display: none;
  }

  .livePeragrap h1 {
    font-size: 30px;
  }
  .liveGirl img {
    width: 80%;
  }

  /* for 2nd para end 900 */
}
@media screen and (max-width: 735px) {
  .menu {
    height: 95px;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .menu-left {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .menu-right {
    display: block;

    padding: 0px;
    margin: auto;
    float: none;
    text-align: center;
  }
  .guide-button {
    display: none;
  }

  /* for menu end 600*/

  .live {
    flex-direction: column;
    justify-content: center;
  }
  .liveLife {
    width: 100%;
    height: 750px;
    background: #faf8f6;
  }
  .livePeragrap {
    height: 200px;
    width: 100%;
    padding-right: 20px;
    text-align: center;
    box-sizing: border-box;
  }
  .peraButton {
    margin-right: 15%;
  }
  .liveImg2 {
    display: none;
  }
  .liveGirl img {
    display: block;
    width: 50%;
    margin: auto;

    margin-top: 2.5rem;
  }

  .livePeragrap h1 {
    font-size: 30px;
  }

  /* for second para end */
}
